<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/categories']">Categorias</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h3 border-left pl-2">{{ pageTitle }}</h1>
  </div>
  <div class="col-md">
    <a routerLink="/categories" class="btn btn-light float-right" role="button">
      <fa-icon [icon]="faChevronCircleLeft"></fa-icon> Voltar
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md">

    <!-- formulário -->
    <form [formGroup]="form" (submit)="onSubmit()">

      <div class="card">
        <div class="card-header">
          Informações sobre a Categoria
        </div>
        <div class="card-body">
          <div class="form-row">
            <!-- Nome -->
            <div class="form-group col-md-4">
              <label for="name">Nome</label>
              <input type="text" class="form-control" id="name" formControlName="name">
              <div class="text-danger">
                <div *ngIf="name.dirty && name.hasError('required')">Obrigatório</div>
                <div *ngIf="name.dirty && name.hasError('minlength')">Ao menos 2 caracteres</div>
              </div>
            </div>
            <!--/ Nome -->
            <!-- Descrição -->
            <div class="form-group col-md-8">
              <label for="description">Descrição</label>
              <input type="text" class="form-control" id="description" formControlName="description">
              <div class="text-danger">
                <div *ngIf="description.dirty && description.hasError('required')">Obrigatório</div>
                <div *ngIf="description.dirty && description.hasError('minlength')">Ao menos 2 caracteres</div>
              </div>
            </div>
            <!--/ Descrição -->
          </div>
        </div>
      </div>

      <!-- Erros no servidor -->
      <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
        <strong>
          <fa-icon [icon]="faBomb"></fa-icon>&nbsp;Erro no Servidor:
        </strong>
        <ul class="list-group list-group-flush mt-3">
          <li class="list-group-item" *ngFor="let error of serverErrorMessages">{{ error }}</li>
        </ul>
      </div>
      <!--/ Erros no servidor -->

      <button [disabled]="submittingForm || form.invalid" type="submit" class="btn btn-primary float-right mt-3">
        <fa-icon [icon]="faSave"></fa-icon>&nbsp;Salvar
      </button>
    </form>
    <!--/ formulário -->

  </div>
</div>
